body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    color: #35637A;
    font-family: 'Kanit', sans-serif;
}

.container1 {
    /* The image used */
    background-image: url("../image/searchpage-bg.jpg");

    /* Full height */
    min-height: 100%;
    width: 100%;
    margin: 0;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.5em 0;
}

.row{
    background-color: rgba(222, 184, 135, 0.7);
    height: 200px;
    width: 100%;
    margin: 15px 0;
    border-radius: 5px;
}

.col{
    font-size: 50px;
    padding: 40px;
}

#static {
    height: 100px;
    margin: 15px 0;
    
}

.col-static {
    margin: auto;
    text-align: center;
}

#header-row {
    min-width: 100%;
}

.dish-price {
    padding: 1em;
    margin: auto;
}

ul {
    list-style-type: none;
}

img {
    height: 80%;
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.ingredients {
    text-align: center;
}

.price-row {
    background-color: rgba(222, 184, 135, 0);
    height: 80px;
    width: 100%;
    margin: 2px;
    border-radius: 5px;
}

.button-row {
    background-color: rgba(222, 184, 135, 0);
    height: 80px;
    width: 100%;
    margin: 2px;
    border-radius: 5px;
}

.detail-button {
    background-color: #35637A;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#back-button-row {
    background-color: rgba(222, 184, 135, 0);
}

.back-button {
    background-color: #35637A;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/*************************************************
Modal specific css
*************************************************/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 50px;
    height: 90%;
    max-height: 50px;
}

.modal-row{
    background-color: rgba(222, 184, 135, 0.5);
    margin: 5px 0;
    border-radius: 5px;
}

.short-div {
    float: left;
    height: 200px;
    max-width: 40%;
}

.long-div {
    height: 400px;
    max-width: 40%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}